@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

.left-50 {
  left: 50%;
}
.right-50 {
  right: 50%;
}
.top-50 {
  top: 50%;
}

.-z-1 {
  z-index: -1;
}

.secondary-title {
  @apply text-3xl font-bold;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}
.full-nav {
  @apply flex-row space-x-12 items-center static bg-body visible m-auto w-auto p-0;
}
.nav {
  display: flex;
  flex-direction: column;
  z-index: 7;
  position: absolute;
  padding: 100px 20px 50px;
  text-align: end;
  width: 100%;
}
.opened-nav {
  background-color: rgba(12, 11, 11, 0.945);
  left: 0;
  margin-top: 150px;
  transition: all 0.5s ease;
}
.unopened-nav {
  left: 0;
  visibility: hidden;
  top: -100px;
}

[id] {
  scroll-margin-top: 100px;
}

.left-percentage {
  left: 2%;
}

.h-screen-partial {
  height: 80vh;
}

.nav-dot {
  transition: background 200ms, border-color 200ms;
}

.selected-circle {
  @apply border-theme bg-theme nav-dot block w-3 h-3  rounded-full border-4;
}
.deselected-circle {
  @apply nav-dot block w-3 h-3  rounded-full border-2 border-nav bg-body;
}

.nav-dot:hover span {
  opacity: 1;
}
